<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>REGISTER HERE</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br />

      <label for="phone">Phone:</label><br />
      <input type="text" id="phone" name="phone" required /><br />
      
      <input type="submit" value="Submit" />
    </form>
    <p>
      Get back home page <a href="{% url 'surface:index' %}">Home Page</a>
    </p>
  </body>
</html>