{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-home">
                <a href="{% url 'blogApp:home' %}">Home</a>
            </div>
            <div class="nav-accounts">
                {% if user.is_authenticated %}
                <span>Hello, <i>{{user.username}}</i></span>
                <a href="{% url 'surface:logout' %}">Sign out</a>
                {% else %}
                <a href="{% url 'surface:login' %}">Sign in</a>
                <a href="{% url 'surface:register' %}">Sign up</a>
                {% endif %}
            </div>
        </nav>
        {% for message in messages %}
        <div class="message">
            <p><i>{{message}}</i></p>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}

        {% block script %}{% endblock %}
    </body>
</html>