{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav_home">
                    <a href="{% url 'blogApp:home' %}">Home</a>
                </div>
    
                <div class="nav_account">
                    {% if user.is_authenticated %}
                    <span>Hello, <i>{{user.username}}</i></span>
                    <a href="{% url 'accounts:signout' %}">Sign out</a>
                    {% else %}
                    <a href="{% url 'accounts:signin' %}">Sign in</a>
                    <a href="{% url 'accounts:signup' %}">Sign up</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        
        {% for message in messages %}
        <div class="message">
            <p><i>{{message}}</i></p>
        </div>
        {% endfor %}
        
        {% block body %}{% endblock %}

        {% block script %}{% endblock %}
    </body>
</html>